<table>
        <tr>
            <td>
                @Html.Action("Index", "Criterios")        
                @Html.Action("Index", "Marcas")
                @Html.Action("Index", "Carrocerias")                
            </td>
            <td align="left" valign=top>
                @Html.Action("Index", "UsuariosCrud")
                @Html.Action("Index", "CarrosADM")
            </td>
        </tr>             
</table>