@model MeuCarroCerto.Models.t_carros

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>t_carros</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.codigo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.codigo)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.nome)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.nome)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.codigo_marca)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.codigo_marca)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ano)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ano)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.codigo_tipo_carroceria)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.codigo_tipo_carroceria)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.codigo_cor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.codigo_cor)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.valor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.valor)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.qtd_ocupantes)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.qtd_ocupantes)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.trio_eletrico)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.trio_eletrico)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ar_condicionado)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ar_condicionado)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.direcao_hidraulica)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.direcao_hidraulica)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.sensor_de_estacionamento)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.sensor_de_estacionamento)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.alarme)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.alarme)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.cambio_automatico)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.cambio_automatico)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.desempenho_zero_a_cem)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.desempenho_zero_a_cem)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.central_multimidia)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.central_multimidia)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.entrada_usb)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.entrada_usb)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.camera_de_re)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.camera_de_re)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.farol_neblina)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.farol_neblina)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.piloto_automatico)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.piloto_automatico)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.roda_liga)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.roda_liga)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.teto_solar)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.teto_solar)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.historico_fabricante)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.historico_fabricante)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.ano_projeto)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ano_projeto)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.rede_concessionaria)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.rede_concessionaria)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.disponibilidade_de_pecas)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.disponibilidade_de_pecas)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.tempo_de_garantia)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.tempo_de_garantia)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.design)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.design)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
