@model IEnumerable<MeuCarroCerto.Models.t_usuarios>

@{
    ViewBag.Title = "Usuários";
}
@{
    Layout = null;
}
<legend>USUÁRIOS</legend>
<p>
    @Html.ActionLink("Adicionar novo usuário", "Adicionar", null, new { @class = "btn btn-primary" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Login")
        </th>
        <th>
            @Html.DisplayName("Senha")
        </th>
        <th>
            @Html.DisplayName("E-mail")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.codigo }) |
            @Html.ActionLink("Excluir", "Excluir", new { id = item.codigo })
        </td>
    </tr>
}

</table>
