@model IEnumerable<MeuCarroCerto.Models.t_carros>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}
<legend>Carros</legend>

<p>
    @Html.ActionLink("Adicionar carros", "Adicionar", null, new { @class = "btn btn-primary" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Ano")
        </th>
        <th>
            @Html.DisplayName("Tipo de carroceria")
        </th>
        <th>
            @Html.DisplayName("Valor")
        </th>
        <th>
            @Html.DisplayName("Quantidade de ocupantes")
        </th>
        <th>
            @Html.DisplayName("Trio elétrico")
        </th>
        <th>
            @Html.DisplayName("Ar condicionado")
        </th>
        <th>
            @Html.DisplayName("Direcao hidraulica")
        </th>
        <th>
            @Html.DisplayName("Sensor de estacionamento")
        </th>
        <th>
            @Html.DisplayName("Alarme")
        </th>
        <th>
            @Html.DisplayName("Cambio automático")
        </th>
        <th>
            @Html.DisplayName("Desempenho de 0 a 1000")
        </th>
        <th>
            @Html.DisplayName("Central multimidia")
        </th>
        <th>
            @Html.DisplayName("Som com entrada_usb")
        </th>
        <th>
            @Html.DisplayName("Câmera de ré")
        </th>
        <th>
            @Html.DisplayName("Farol de neblina")
        </th>
        <th>
            @Html.DisplayName("Piloto automático")
        </th>
        <th>
            @Html.DisplayName("Roda de liga")
        </th>
        <th>
            @Html.DisplayName("Teto solar")
        </th>
        <th>
            @Html.DisplayName("Histórico fabricante")
        </th>
        <th>
            @Html.DisplayName("Ano do projeto")
        </th>
        <th>
            @Html.DisplayName("Rede concessionaria")
        </th>
        <th>
            @Html.DisplayName("Disponibilidade de peças")
        </th>
        <th>
            @Html.DisplayName("Tempo de garantia")
        </th>
        <th>
            @Html.DisplayName("Design")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_tipo_carroceria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtd_ocupantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trio_eletrico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ar_condicionado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direcao_hidraulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sensor_de_estacionamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alarme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cambio_automatico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desempenho_zero_a_cem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.central_multimidia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entrada_usb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.camera_de_re)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.farol_neblina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.piloto_automatico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.roda_liga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teto_solar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.historico_fabricante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ano_projeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rede_concessionaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disponibilidade_de_pecas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tempo_de_garantia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.design)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.codigo })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.codigo }, new { @class = "excluir" })
            </td>
        </tr>
    }

</table>
