@model MeuCarroCerto.Models.CriteriosPessoa
@{
    ViewBag.Title = "Index";
}
<p><b><font size="4">Selecione abaixo o grau de importância dentro de cada critério que deve ser analisado para seleção de um carro.</font></b></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
            @Html.Label("Necessidade")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.necessidade, (SelectList)ViewBag.criterio)
        </div>

        <div class="editor-label">
            @Html.Label("Qualidade")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.qualidade, (SelectList)ViewBag.criterio)
        </div>

        <div class="editor-label">
            @Html.Label("Segurança")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.segurança, (SelectList)ViewBag.criterio)
        </div>

        <div class="editor-label">
            @Html.Label("Valor")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.valor, (SelectList)ViewBag.criterio)
        </div>

        <div class="editor-label">
            @Html.Label("Marketing")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.marketing, (SelectList)ViewBag.criterio)
        </div>



        <p>
            <input type="submit" value="Continuar" />
        </p>
    </fieldset>
}